[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
django-magekit = "*"
django-imagekit = "*"
pillow = "*"

[requires]
python_version = "3.7"
